# Runtime
ENVIRONMENT=local
SECRET_KEY=changethis
DEBUG=false

# PostgreSQL
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB={{projectName}}

# CORS
BACKEND_CORS_ORIGINS=
FRONTEND_HOST=http://localhost:5173

# Sentry (optional)
SENTRY_DSN=
